<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- axios 외부라이브러리 가져오기 -->
    <script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <!-- 3가지 버전 -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',init)
        function init(){
            const btn = document.querySelector('#idcheck_btn')
            btn.addEventListener('click',clickHandler)

            function clickHandler(){
                const userid = document.querySelector('#userid')
                const data = JSON.stringify({userid:userid.value}) //데이터전송은 스트링으로바꿔야합니다
                const msg = document.querySelector('#msg')
                //Ajax
                const xhr = new XMLHttpRequest()
                xhr.open('POST','/idcheck',true) //보낼 url Request method 정보를 넣는곳
                xhr.setRequestHeader('Content-type','application/json') //header내용을 바꿀수있어요
                xhr.send(data) //보내는거: body넣어서 보낼수있어요

                xhr.onreadystatechange = () => {
                    try{
                        if (xhr.readyState == 4 && xhr.status == 200){
                            //가입가능은1, 불가능은2
                            const {result} = JSON.parse(xhr.response)
                            if(result === 2)throw new Error('중복된 아이디가 있습니다')
                            msg.innerHTML = '사용이 가능합니다'
                            msg.style.color = 'green'
                        }
                    }catch(e){
                        //가입이 불가한경우
                        msg.innerHTML = '사용이 불가능합니다'
                        msg.style.color = 'red'
                    }
                }
            }
        }
        //fetch문도 사용가능
        
    </script>
</head>
<body>
    <form method="post" action="/join">
        <input type="text" id="userid" name="userid">
        <input type="button" id="idcheck_btn" value="중복체크">
        <div id="msg">
            
        </div>
    </form>
</body>
</html>