<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        // 1. submit버튼을 누를때 form이 실행이 안되게 하고싶다.
        // 1-1 DOMContentLoaded 이벤트작성
        // 1-2 form 가져오기 or 조작하기 할수있는 환경만들기
            //document.getElementById() , document.querySelector()

        // 2. submit버튼을 눌렀을때 userid,userpw의 input 내용을 console.log로찍기
        //DOMContentLoaded
        document.addEventListener('DOMContentLoaded',init)
        function init(){
            const frm = document.querySelector('#loginFrm')
            const userid = frm.querySelector('#userid')
            const userpw = frm.querySelector('#userpw')

            frm.addEventListener('submit',submitHandler)
            function submitHandler(e){
                e.preventDefault()
                console.log(userid.value,userpw.value)
                // input에서 받은 id와 pw를 back서버에 보낸다.->submit을 눌렀을때 실행되야한다
                    //-서버를 보내는 즉시 로딩화면을 보여준다
                // back 서버는 아이디와 패스워드를 검증하고,
                // JWT토큰을 생성해서 cookie로 보내준다
                // 그 결과물을 받을시 메인페이지로 이동,혹은 화면에 성공여부를 표시
                
                const data = {
                    userid:userid.value,
                    userpw:userpw.value
                }

                ajax(data)
            }

            function ajax(item){
                // AJAX 
                const xhr = new XMLHttpRequest() //Datatype : Object

                //1.요청보내기 가능
                //2.요청에 body내용 넣기 가능
                //3.요청 header 조작 가능
                //4.응답받기 가능
                    //4-1 콜백이 총 3번된다는 사실을 알았음.
                    //4-2 콜백 3번이 컨트롤이 가능한가? -> O
                xhr.open('POST','http://localhost:3000/login',true) //1.
                xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded') //3.
                xhr.send(`userid=${item.userid}&userpw=${item.userpw}`) //2.
                xhr.onreadystatechange = () => {
                    // console.log('ajax 실행 확인')
                    switch(xhr.readyState){
                        case 2:
                                //HEADERS_RECEIVED
                                console.log('HEADERS_RECEIVED')
                                document.querySelector('#msg').innerHTML = '로딩중'
                        break;

                        case 3:
                                //LOADING
                                console.log('LOADING')
                        break;

                        case 4:
                                //DONE
                                document.querySelector('#msg').innerHTML = ''
                                location.href="http://localhost:3000"
                                console.log('DONE',xhr.response)
                        break;

                    }
                } //4.
            }
            
        }
        
            
    </script>
</head>
<body>
    <span id="msg"></span>
    <form method="post" action="/login" id="loginFrm">
        <input type="text" name="userid" id="userid">
        <input type="text" name="userpw" id="userpw">
        <input type="submit" value="로그인">
    </form>
</body>
</html>